创意/n8n/吴恩达反思工作流 copy.json
{
  "name": "吴恩达反思工作流 copy",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "ppt-reflection",
        "responseMode": "lastNode",
        "responseData": "firstEntryBinary",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        -80
      ],
      "id": "4b2ce301-03af-4c56-9702-ce9dfbfecebc",
      "name": "Webhook",
      "webhookId": "9324f629-4b4c-475e-984f-dfd28d0bd821",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-powerpoint2text.powerpoint2text",
      "typeVersion": 1,
      "position": [
        416,
        -96
      ],
      "id": "1d149552-5ca5-4200-af85-241f040a6ed8",
      "name": "PowerPoint to Text"
    },
    {
      "parameters": {
        "jsCode": "// 把 data0 重命名为 data，Powerpoint2Text 才能识别\nreturn items.map(item => {\n  if (!item.binary || !item.binary.data0) {\n    throw new Error('未找到 binary.data0');\n  }\n\n  // 重命名\n  item.binary.data = item.binary.data0;\n  delete item.binary.data0;\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -96
      ],
      "id": "2e376e7e-ad48-4eac-8621-214448dd955e",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ds-v3",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1616,
        192
      ],
      "id": "a54dc2bf-a8e6-47bd-9b41-920b276ee8c3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nl86EcOnfFl8R9jg",
          "name": "deepseek"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"name\": \"CoreThemeExtractor\",\n  \"type\": \"LLMChain\",\n  \"parameters\": {\n    \"model\": \"gpt-4\",\n    \"prompt\": {\n      \"type\": \"text\",\n      \"value\": \"你是一位资深企业内训讲师，擅长将 PPT 内容快速提炼成核心主题和讲解要点。\\n\\n请阅读第 {{ $json.slideNumber }} 页 PPT 内容:\\n{{ $json.content }}\\n\\n请按以下格式严格输出 JSON：\\n{\\n  \\\"slideNumber\\\": {{ $json.slideNumber }},\\n  \\\"coreTheme\\\": \\\"本页核心主题（一句话概括）\\\",\\n  \\\"keyPoints\\\": [\\\"关键点1\\\", \\\"关键点2\\\", \\\"关键点3\\\"]\\n}\\n\\n要求：\\n1. 核心主题必须简洁明了，一句话概括本页内容。\\n2. 关键点列出 2-4 条最重要信息，可适度提炼和总结。\\n3. 输出必须严格为 JSON，不要加 Markdown 或多余文本。\"\n    },\n    \"sourceForPrompt\": \"expression\",\n    \"requireSpecificOutputFormat\": true\n  },\n  \"typeVersion\": 1,\n  \"position\": [400, 300]\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        816,
        -96
      ],
      "id": "1ad4f9c9-5403-462c-8b07-288d7b70cf4e",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ds-v3",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {
          "frequencyPenalty": 0,
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        816,
        80
      ],
      "id": "855ca660-aac1-4f06-b381-26040b4f612f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "nl86EcOnfFl8R9jg",
          "name": "deepseek"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 假设输入是 items，每个 item 有一个 output 字段\nreturn items.map(item => {\n    return {\n        json: JSON.parse(item.json.output) // 转成 JSON 对象\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -96
      ],
      "id": "96705236-4bd2-40c1-9573-c7a10f10cbf4",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1376,
        -96
      ],
      "id": "bccb0a8e-64d6-4461-9ae8-932ffeed6c55",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一位资深企业内训讲师，擅长将 PPT 内容快速转化为数字人讲解脚本。\n\n第 {{ $json.slideNumber }} 页 PPT 内容：\n核心主题：{{ $json.coreTheme }}\n关键点：\n{{ $json.keyPoints.join(\"\\n\") }}\n\n输出要求：\n第 [{{ $json.slideNumber }}] 页\n\n【核心主题】：{{ $json.coreTheme }}\n【数字人讲稿】：(请基于上方内容生成口语化、易读的演讲稿)\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1616,
        -80
      ],
      "id": "1eb1ce21-8b34-4581-a78c-d159c98a6dc9",
      "name": "AI Agent1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1664,
        -224
      ],
      "id": "74b11e7e-c900-4321-89c4-efad07e710ee",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// 假设前一个节点输出在 $json.slides\nconst slides = $json.slides;  // Powerpoint2Text 的输出\n\nconst items = [];\n\nfor (const slideNumber in slides) {\n  items.push({\n    json: {\n      slideNumber: parseInt(slideNumber),\n      content: slides[slideNumber]\n    }\n  });\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -96
      ],
      "id": "a927aa0c-6e7d-4e07-803f-242fb6b4402d",
      "name": "分页",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PowerPoint to Text": {
      "main": [
        [
          {
            "node": "分页",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "PowerPoint to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分页": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "93642130-b08d-495f-b75e-5c102b62c62a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6e3e67acb272585c6a2d135289e37878fdf38c41cff22bf56b4bb8208937c25"
  },
  "id": "jG8WdaGUzutwm9PZ",
  "tags": []
}